# 판다스(Pandas) 05 - 데이터프레임(DataFrame) 파일로 저장하기

데이터프레임 csv / tsv / txt 파일로 저장하기

- 데이터프레임을 파일로 저장하기 위해서는 일반적으로 'to_csv(...)'함수를 사용하며, to_csv(...)에서 분리자를 나타내는 sep = '...' 옵션을 사용하면 csv / tsv / txt 등의 다양한 파일 형식으로 저장할 수 있음.

In [1]:
# 데이터프레임 df1 생성

import pandas as pd

person_dict = {'Name' : ['John', 'Sabre', 'Kim'],
              'Country' : ['USA', 'France', 'Korea'],
              'Age' : [31, 33, 28],
              'Job' : ['Student', 'Lawyer', 'Chef']}

df1 = pd.DataFrame(data = person_dict, columns = ['Name', 'Country', 'Age', 'Job'])

df1

    Name Country  Age      Job
0   John     USA   31  Student
1  Sabre  France   33   Lawyer
2    Kim   Korea   28     Chef

In [2]:
# 데이터프레임을 csv / tsv / txt 파일로 저장

# 분리자(seperator)로서 comma, tab, space 지정하여 저장
# 분리자 옵션을 생략하면 기본적으로 sep = ',' 인식

df1.to_csv('person_01.csv', sep = ',') # comma로 분리해서 저장
df1.to_csv('person_01.tsv', sep = '\t') # tab으로 분리해서 저장
df1.to_csv('person_01.txt', sep = ' ') # 공백으로 분리해서 저장

데이터프레임 엑셀(excel) 파일로 저장하기

- 데이터프레임을 파일로 저장하기 위해서는
- 1. 먼저 xlwt, openpyxl 라이브러리를 설치한 후에
- 2. to_excel(...) 함수를 이용하여 데이터프레임을 엑셀(excel) 파일로 저장 할 수 있음

In [3]:
# 데이터프레임 df1 생성

import pandas as pd

person_dict = {'Name' : ['John', 'Sabre', 'Kim'],
              'Country' : ['USA', 'France', 'Korea'],
              'Age' : [31, 33, 28],
              'Job' : ['Student', 'Lawyer', 'Chef']}

df1 = pd.DataFrame(data = person_dict, columns = ['Name', 'Country', 'Age', 'Job'])

df1

    Name Country  Age      Job
0   John     USA   31  Student
1  Sabre  France   33   Lawyer
2    Kim   Korea   28     Chef

In [5]:
pip install xlwt

Collecting xlwt
  Using cached xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the 'c:\python\python.exe -m pip install --upgrade pip' command.

In [6]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the 'c:\python\python.exe -m pip install --upgrade pip' command.

In [8]:
# 데이터프레임을 엑셀 파일로 저장

# 데이터프레임을 엑셀의 xls 형식으로 저장
import xlwt

df1.to_excel('persons_03.xls')

import openpyxl

df1.to_excel('persons_03.xlsx')

C:\Users\서경덕\AppData\Local\Temp/ipykernel_26880/2457831077.py:6: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df1.to_excel('persons_03.xls')

데이터프레임 JSON 파일로 저장하기

- JSON (JavaScript Object Notation)은 네트워크를 통해 데이터를 주고받을 때 자주 사용되고 표준화된 경량 (light) 데이터 형식이며, to_json(...) 함수를 사용하여 데이터프레임을 JSON 파일로 저장 할 수 있음.

In [9]:
# 데이터프레임 df1 생성

import pandas as pd

person_dict = {'Name' : ['John', 'Sabre', 'Kim'],
              'Country' : ['USA', 'France', 'Korea'],
              'Age' : [31, 33, 28],
              'Job' : ['Student', 'Lawyer', 'Chef']}

df1 = pd.DataFrame(data = person_dict, columns = ['Name', 'Country', 'Age', 'Job'])

df1

    Name Country  Age      Job
0   John     USA   31  Student
1  Sabre  France   33   Lawyer
2    Kim   Korea   28     Chef

In [10]:
# 데이터프레임을 JSON 파일로 저장
df1.to_json('person_04.json')